flows_raspberrypi_visionet.json
[{"id":"1629684c.c7d478","type":"tab","label":"Flow 1"},{"id":"8d16cbe8.65ef08","type":"ui_group","z":"","name":"Group 1","tab":"586c4579.f2493c","order":1,"disp":false,"width":"34"},{"id":"4f6d086b.c7b9b","type":"ui_group","z":"","name":"Group 1","tab":"2a752703.e7e54","order":1,"disp":false,"width":"34"},{"id":"70411ede.6c2398","type":"ui_group","z":"","name":"Group 1","tab":"f6d2991.ecb9268","order":1,"disp":false,"width":"34"},{"id":"4d4f6f10.aee55","type":"ui_group","z":"","name":"Group 1","tab":"643048c5.070da8","order":1,"disp":false,"width":"34"},{"id":"d24a140.be485f","type":"chatbot-telegram-node","z":"","botname":"VisioneT","usernames":"@visionet_bot","polling":"1000","log":""},{"id":"586c4579.f2493c","type":"ui_tab","z":"","name":"VIDEO","icon":"dashboard","order":1},{"id":"2a752703.e7e54","type":"ui_tab","z":"","name":"CRONACHE LOCALI","icon":"dashboard","order":2},{"id":"f6d2991.ecb9268","type":"ui_tab","z":"","name":"CONVERSAZIONE","icon":"dashboard","order":4},{"id":"643048c5.070da8","type":"ui_tab","z":"","name":"METEO - ANCONA","icon":"dashboard","order":5},{"id":"9b4b84eb.2a5ac8","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#1482ac","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#1482ac","edited":true},"page-backgroundColor":{"value":"#2f2f2f","edited":true},"page-sidebar-backgroundColor":{"value":"#2f2f2f","edited":true},"group-textColor":{"value":"#1482ac","edited":true},"group-borderColor":{"value":"#2f2f2f","edited":true},"group-backgroundColor":{"value":"#2f2f2f","edited":true},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#1482ac","edited":true},"widget-borderColor":{"value":"#2f2f2f","edited":true}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"da5c2fd8.7a003","type":"google-config","z":""},{"id":"95e49102.8c03d","type":"function","z":"1629684c.c7d478","name":"parser","func":"var words = msg.payload.split(\" \");\nvar remote = words[3];\ncode = words[2];\nvar outMsg = {remote: remote, payload: code};\n\nreturn outMsg;","outputs":1,"noerr":0,"x":190.22216796875,"y":191.76666259765625,"wires":[["57aaff82.a6b9f"]]},{"id":"669cd8fd.9796b8","type":"switch","z":"1629684c.c7d478","name":"","property":"remote","propertyType":"msg","rules":[{"t":"eq","v":"tv","vt":"str"},{"t":"eq","v":"tv_raspy_ON","vt":"str"},{"t":"eq","v":"tv_raspy_OFF","vt":"str"},{"t":"eq","v":"raspi","vt":"str"}],"checkall":"true","outputs":4,"x":587.3388671875,"y":190.7666778564453,"wires":[["65b3fa40.5bbdf4"],["af694854.ad0e2"],["7277f2a5.eb5c8c"],["f90de891.9e68b"]]},{"id":"4dc35d7f.896d04","type":"debug","z":"1629684c.c7d478","name":"debug","active":true,"console":"false","complete":"true","x":538.1221771240234,"y":309.6167297363281,"wires":[]},{"id":"680cb5a4.f723bc","type":"function","z":"1629684c.c7d478","name":"ON/OFF","func":"var outMsg = {}\nvar pi_state = context.get('pi_state')||0;\n\nif (pi_state === 0)\n    if (msg.payload == \"KEY_CYCLEWINDOWS\") {\n        outMsg = {remote: \"tv_raspy_ON\", payload: msg.payload};\n        pi_state = 1;\n        context.set('pi_state',pi_state);\n    }\n    else {\n        outMsg = {remote: \"tv\", payload: msg.payload};\n    }\nelse {\n    if (msg.payload == \"KEY_CYCLEWINDOWS\") {\n        outMsg = {remote: \"tv_raspy_OFF\", payload: msg.payload};\n        pi_state = 0;\n        context.set('pi_state',pi_state);\n    }\n    else {\n        outMsg = {remote: \"raspi\", payload: msg.payload};\n    }\n}\n    \nreturn outMsg;","outputs":1,"noerr":0,"x":442.42218017578125,"y":188.85000610351562,"wires":[["669cd8fd.9796b8","4dc35d7f.896d04"]]},{"id":"57aaff82.a6b9f","type":"switch","z":"1629684c.c7d478","name":"","property":"remote","propertyType":"msg","rules":[{"t":"eq","v":"RASPI_REMOTE","vt":"str"}],"checkall":"true","outputs":1,"x":313.1221923828125,"y":190.5,"wires":[["680cb5a4.f723bc"]]},{"id":"1c0d596a.67364f","type":"ui_template","z":"1629684c.c7d478","group":"8d16cbe8.65ef08","name":"Scenario 1","order":0,"width":"0","height":"0","format":"<div layout=\"column\" layout-align=\"start stretch\">\n        <div id=\"title\" layout=\"row\" layout-align=\"center center\">\n            <div flex=\"95\">\n                <span style=\"color: #1482ac;\">{{l1}}</span><span style=\"color: #bfbfbf\">{{l}}</span><span style=\"color: #7f7f7f\">{{ln}}</span>\n            </div>\n            <div flex=\"5\">\n                <div class=\"md-media-sm card-media\">\n                    <img src=\"/logo.png\" alt=\"visionet-logo\" height=\"70\" width=\"70\">\n                </div>\n            </div>\n        </div>\n\n      <div>\n          <md-tabs id=\"content\" md-stretch-tabs=\"always\" md-align-tabs=\"top\" md-selected=\"msg.payload.tab\">\n              <md-tab label=\"Pagina 1\">\n                  <md-content layout=\"row\" layout-align=\"start start\" layout-wrap>\n                      \n                      <div flex=\"33\" ng-repeat=\"x in msg.videos\">\n                          <md-card >\n                              <md-card-title>\n                                  <md-card-title-text layout=\"row\" layout-align=\"start center\">\n                                      <span class=\"md-headline\">{{x.title}}</span>\n                                  </md-card-title-text>\n                              </md-card-title>\n                              <md-card-content layout=\"row\" layout-align=\"center center\">\n                                  <div class=\"card-media\">\n                                      <iframe width=\"340\" height=\"200\" src=\"{{x.url | trustAsResourceUrl}}\" frameborder=\"0\"></iframe>\n                                  </div>\n                              </md-card-content>\n\n                              <md-card-actions layout=\"row\" layout-align=\"center center\">\n                                  <md-button style=\"font-size: 25px\">PREMI {{$index+1}}</md-button>\n                              </md-card-actions>\n\n                          </md-card>\n                      </div>\n\n                  </md-content>\n              </md-tab>\n              <md-tab label=\"Pagina 2\">\n                  <md-content class=\"md-padding\">\n                      <h1 class=\"md-display-2\">Tab Two</h1>\n                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>\n                      <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>\n                      <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>\n                  </md-content>\n              </md-tab>\n              <md-tab label=\"Pagina 3\">\n                  <md-content class=\"md-padding\">\n                      <h1 class=\"md-display-2\">Tab Three</h1>\n                      <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>\n                  </md-content>\n              </md-tab>\n              <md-tab label=\"Riproduzione\">\n                  <md-content layout=\"column\" layout-align=\"start center\">\n                      \n                      <div flex=\"70\">\n                          <md-card >\n                              <md-card-title>\n                                  <md-card-title-text layout=\"row\" layout-align=\"start center\">\n                                      <span class=\"md-headline\">{{msg.title}}</span>\n                                  </md-card-title-text>\n                              </md-card-title>\n                              <md-card-content layout=\"row\" layout-align=\"center center\">\n                                  <div class=\"card-media\">\n                                      <!--<iframe width=\"1224\" height=\"720\" src=\"{{msg.urlPlay | trustAsResourceUrl}}\" frameborder=\"0\"></iframe>-->\n                                      <div id=\"player\"></div>\n                                  </div>\n                              </md-card-content>\n                               <md-card-actions layout=\"row\" layout-align=\"center center\">\n                                  <md-button style=\"font-size: 25px\">PAUSA</md-button>\n                                  <md-button style=\"font-size: 25px\">STOP</md-button>\n                                  <md-button style=\"font-size: 25px\">RIPRODUCI</md-button>\n                              </md-card-actions>\n                          </md-card>\n                      </div>\n\n                  </md-content>\n              </md-tab>\n          </md-tabs>\n      </div>\n\n    </div>\n\n  <style>\n    md-tabs .md-tab.md-active {\n        color: #FFFFFF;\n        font-size: 20px;\n    }\n    md-tabs .md-tab {\n        color: #bfbfbf;\n        font-size: 20px;\n    }\n    md-tabs md-ink-bar {\n        background-color: #1482ac;\n        color: #1482ac;\n        height: 4px;\n    }\n    .md-headline {\n        color: #FFFFFF;\n        font-size: 28px;\n    }\n    #content {\n        height: 885px;\n    }\n    #title {\n        height: 70px;\n    }\n    #title span {\n        font-size: 55px;\n        font-family: \"Trebuchet MS\", SansSerif;\n    }\n  </style>\n  \n  <script src=\"https://s.ytimg.com/yts/jsbin/www-widgetapi-vfl4qCmf3.js\"></script>\n  <script src=\"https://www.youtube.com/iframe_api\"></script>\n  \n  <script>\n    var player;\n    \n    function onYouTubeIframeAPIReady() {\n        player = new YT.Player('player', {\n          height: '680',\n          width: '1220',\n          videoId: ''\n        });\n      }\n    \n    this.scope.load = function(id) {\n        player.loadVideoById(id, 0, \"default\");\n    }\n      \n </script>\n \n <script>\n    (function(scope) {\n        scope.$watch('msg.videoId', function(data) {\n            scope.load(data);\n        });\n    })(scope);\n    \n </script>\n  \n  <script>    \n    this.scope.page = \"Video\";\n    this.scope.l1 = this.scope.page[0];\n    var n = this.scope.page.length;\n    this.scope.l = this.scope.page.slice(1, n-1);\n    this.scope.ln = this.scope.page[n-1];\n  </script>","storeOutMessages":true,"fwdInMessages":false,"x":1244.1168212890625,"y":663.10009765625,"wires":[[]]},{"id":"80be03d0.67b9d","type":"ui_ui_control","z":"1629684c.c7d478","name":"ui control","x":445.00555419921875,"y":397.9444885253906,"wires":[["cdfd4fdd.b8eed8"]]},{"id":"9b465167.e4223","type":"ui_template","z":"1629684c.c7d478","group":"4f6d086b.c7b9b","name":"Scenario 2","order":0,"width":"0","height":"0","format":"  <div layout=\"column\" layout-align=\"start stretch\">\n        <div id=\"title\" layout=\"row\" layout-align=\"center center\">\n            <div flex=\"95\">\n                <span>{{testo}}</span><span style=\"color: #1482ac;\">{{l1}}</span><span style=\"color: #bfbfbf\">{{l}}</span><span style=\"color: #7f7f7f\">{{ln}}</span>\n            </div>\n            <div flex=\"5\">\n                <div class=\"md-media-sm card-media\">\n                    <img src=\"/logo.png\" alt=\"visionet-logo\" height=\"70\" width=\"70\">\n                </div>\n            </div>\n        </div>\n\n      <div>\n          <md-tabs id=\"content\" md-stretch-tabs=\"always\" md-align-tabs=\"top\">\n              <md-tab label=\"Pagina 1\">\n                  <md-content layout=\"row\" layout-align=\"start start\" layout-wrap>\n                      <div flex=\"50\" ng-repeat=\"x in msg.articles\">\n                          <md-card>\n                              <md-card-title>\n                                  <md-card-title-text layout=\"row\" layout-align=\"start center\">\n                                      <span class=\"md-headline\">{{x.title}}</span>\n                                  </md-card-title-text>\n                              </md-card-title>\n                              <md-card-content>\n                                  <p>{{x.summary}}</p>\n                              </md-card-content>\n                              <md-card-actions layout=\"row\" layout-align=\"center center\">\n                                  <md-button style=\"font-size: 25px\">PREMI {{$index+1}}</md-button>\n                              </md-card-actions>\n                          </md-card>\n                      </div>\n                  </md-content>\n              </md-tab>\n              <md-tab label=\"Pagina 2\">\n                  <md-content class=\"md-padding\">\n                      <h1 class=\"md-display-2\">Tab Two</h1>\n                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>\n                      <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>\n                      <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>\n                  </md-content>\n              </md-tab>\n              <md-tab label=\"Pagina 3\">\n                  <md-content class=\"md-padding\">\n                      <h1 class=\"md-display-2\">Tab Three</h1>\n                      <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>\n                  </md-content>\n              </md-tab>\n          </md-tabs>\n      </div>\n\n    </div>\n\n  <style>\n    md-tabs .md-tab.md-active {\n        color: #FFFFFF;\n        font-size: 20px;\n    }\n    md-tabs .md-tab {\n        color: #bfbfbf;\n        font-size: 20px;\n    }\n    md-tabs md-ink-bar {\n        background-color: #1482ac;\n        color: #1482ac;\n        height: 4px;\n    }\n    md-card-content p {\n        text-align: justify;\n        font-size: 23px;\n        line-height: 30px;\n        color: #FFFFFF;\n    }\n    .md-headline {\n        text-align: justify;\n        font-size: 38px;\n        line-height: 40px;\n        color: #FFFFFF;\n    }\n    #content {\n        height: 885px;\n    }\n    #title {\n        height: 70px;\n    }\n    #title span {\n        font-size: 55px;\n        font-family: \"Trebuchet MS\", SansSerif;\n    }\n  </style>\n\n    <script>\n        this.scope.page = \"Cronache\";\n        this.scope.l1 = this.scope.page[0];\n        var n = this.scope.page.length;\n        this.scope.l = this.scope.page.slice(1, n-1);\n        this.scope.ln = this.scope.page[n-1];\n    </script>\n        ","storeOutMessages":true,"fwdInMessages":false,"x":990.68798828125,"y":1088.290283203125,"wires":[[]]},{"id":"f1f65886.1f3bd8","type":"feedparse","z":"1629684c.c7d478","name":"","url":"http://feeds.feedburner.com/vivereancona","interval":15,"x":202.11668395996094,"y":1130.4332580566406,"wires":[["c1b55eb5.c53a6"]]},{"id":"c1b55eb5.c53a6","type":"function","z":"1629684c.c7d478","name":"Get articles","func":"var articles = context.get('articles')||[];\nmsgOut = {};\n\nif (typeof msg.article != \"undefined\") {\n    if (articles.length < 4){\n        var lunghezza=(msg.article.summary.length)-99;\n        msg.article.summary=msg.article.summary.substring(0, lunghezza)+\"...\";\n        articles.push(msg.article);\n        context.set('articles', articles);\n        msgOut.articles = articles;\n    }\n} else {\n    msgOut.articles = articles;\n}\n\nif(typeof msg.cmd !== \"undefined\")\n    msgOut.cmd = msg.cmd-1;\nelse \n    msgOut.cmd = 0;\n\nreturn msgOut;","outputs":1,"noerr":0,"x":561.1166839599609,"y":1092.4332580566406,"wires":[["9b465167.e4223"]]},{"id":"c5bac27.ee0b1c","type":"function","z":"1629684c.c7d478","name":"","func":"var msg1 = {}; \nvar msg2 = {};\n\nvar firstON = flow.get('firstON');\nvar pageIndex = context.get('pageIndex')||0;\n\nif (firstON !== 0) {\n    switch(msg.payload) {\n        case \"KEY_CHANNELUP\":\n            pageIndex = (pageIndex + 1) % 4;\n            context.set('pageIndex', pageIndex);\n            msg1.payload = pageIndex;\n            msg2.page = pageIndex;\n            msg2.cmd = 99;\n            break;\n        case \"KEY_CHANNELDOWN\":\n            pageIndex = pageIndex - 1;\n            if (pageIndex < 0) \n                pageIndex = 3\n            else\n                pageIndex = pageIndex % 4;\n            context.set('pageIndex', pageIndex);\n            msg1.payload = pageIndex;\n            msg2.page = pageIndex;\n            msg2.cmd = 99;\n            break;\n        case \"KEY_1\":\n            msg1.payload = pageIndex;\n            msg2.page = pageIndex;\n            msg2.cmd = 1;\n            break;    \n        case \"KEY_2\":\n            msg1.payload = pageIndex;\n            msg2.page = pageIndex;\n            msg2.cmd = 2;\n            break; \n        case \"KEY_3\":\n            msg1.payload = pageIndex;\n            msg2.page = pageIndex;\n            msg2.cmd = 3;\n            break; \n        case \"KEY_4\":\n            msg1.payload = pageIndex;\n            msg2.page = pageIndex;\n            msg2.cmd = 4;\n            break;\n        case \"KEY_5\":\n            msg1.payload = pageIndex;\n            msg2.page = pageIndex;\n            msg2.cmd = 5;\n            break; \n        case \"KEY_6\":\n            msg1.payload = pageIndex;\n            msg2.page = pageIndex;\n            msg2.cmd = 6;\n            break; \n        case \"KEY_6\":\n            msg1.payload = pageIndex;\n            msg2.page = pageIndex;\n            msg2.cmd = 7;\n            break; \n        case \"KEY_8\":\n            msg1.payload = pageIndex;\n            msg2.page = pageIndex;\n            msg2.cmd = 8;\n            break; \n        case \"KEY_9\":\n            msg1.payload = pageIndex;\n            msg2.page = pageIndex;\n            msg2.cmd = 9;\n            break;\n        case \"KEY_0\":\n            msg1.payload = pageIndex;\n            msg2.page = pageIndex;\n            msg2.cmd = 0;\n            break; \n        default:\n            msg1 = null;\n            msg2 = null;\n            break;\n    }\n} else {\n    firstON = 1;\n    flow.set('firstON', firstON);\n    msg1.payload = 0;\n    msg2.page = 0;\n    msg2.cmd = 99;\n}\n\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":222.33888244628906,"y":453.7666778564453,"wires":[["80be03d0.67b9d"],["c706024a.e52d4","4dc35d7f.896d04"]]},{"id":"f90de891.9e68b","type":"link out","z":"1629684c.c7d478","name":"visionet_cmd","links":["fa67998e.ea79c8"],"x":682.3388824462891,"y":275.7666778564453,"wires":[]},{"id":"fa67998e.ea79c8","type":"link in","z":"1629684c.c7d478","name":"visionet_cmd","links":["f90de891.9e68b","cd418f37.212a2"],"x":79.33888244628906,"y":453.7666778564453,"wires":[["c5bac27.ee0b1c"]]},{"id":"c706024a.e52d4","type":"switch","z":"1629684c.c7d478","name":"","property":"page","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":4,"x":438.33888244628906,"y":492.7666778564453,"wires":[["49aec399.c51414"],["75c248a5.53592"],["f9b277ab.f6bd68"],["d4d50f66.2c29f"]]},{"id":"79091cd9.b95e1c","type":"link in","z":"1629684c.c7d478","name":"control_ui","links":["cdfd4fdd.b8eed8"],"x":1025.67236328125,"y":630.2109985351562,"wires":[["1c0d596a.67364f"]]},{"id":"49aec399.c51414","type":"link out","z":"1629684c.c7d478","name":"page_1","links":["2b4762a.58ee51e"],"x":595.8942108154297,"y":449.3222351074219,"wires":[]},{"id":"75c248a5.53592","type":"link out","z":"1629684c.c7d478","name":"page_2","links":["795e2bdc.4e742c"],"x":597.3388824462891,"y":491.7666778564453,"wires":[]},{"id":"f9b277ab.f6bd68","type":"link out","z":"1629684c.c7d478","name":"page_3","links":["8411c7f1.6864b","77526de2.adb5b4"],"x":597.3388824462891,"y":531.7666778564453,"wires":[]},{"id":"d4d50f66.2c29f","type":"link out","z":"1629684c.c7d478","name":"page_4","links":["66531631.f5c8a8","7348c5a8.816d1c","7fc33048.20d93"],"x":597.3388824462891,"y":569.7666778564453,"wires":[]},{"id":"2b4762a.58ee51e","type":"link in","z":"1629684c.c7d478","name":"page_1","links":["49aec399.c51414"],"x":326.11663818359375,"y":664.7666015625,"wires":[["8038c26.0bc0cc"]]},{"id":"795e2bdc.4e742c","type":"link in","z":"1629684c.c7d478","name":"page_2","links":["75c248a5.53592"],"x":329.1722412109375,"y":1057.877685546875,"wires":[["c1b55eb5.c53a6"]]},{"id":"55c1a4de.59bfc4","type":"link in","z":"1629684c.c7d478","name":"control_ui","links":["952af34f.07368","10a7eba6.32eb14","cdfd4fdd.b8eed8"],"x":852.2117309570312,"y":1028.576171875,"wires":[["9b465167.e4223"]]},{"id":"c8a455ef.bdb918","type":"inject","z":"1629684c.c7d478","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":380.1485137939453,"y":963.8777160644531,"wires":[["c1b55eb5.c53a6"]]},{"id":"e3ce2dbc.9baee","type":"ui_template","z":"1629684c.c7d478","group":"70411ede.6c2398","name":"Scenario 3","order":0,"width":"0","height":"0","format":"<div layout=\"column\" layout-align=\"start stretch\">\n    <div id=\"title\" layout=\"row\" layout-align=\"center center\">\n        <div flex=\"95\">\n            <span style=\"color: #1482ac;\">{{l1}}</span><span style=\"color: #bfbfbf\">{{l}}</span><span style=\"color: #7f7f7f\">{{ln}}</span>\n        </div>\n        <div flex=\"5\">\n            <div class=\"md-media-sm card-media\">\n                <img src=\"/logo.png\" alt=\"visionet-logo\" height=\"70\" width=\"70\">\n            </div>\n        </div>\n    </div>\n    <div>\n        <md-tabs id=\"content\" md-stretch-tabs=\"always\" md-align-tabs=\"top\">\n            <md-tab label=\"Pagina 1\">\n                <md-content layout=\"row\" layout-align=\"starat center\">\n                    <div flex=\"70\">\n                        <md-list>\n                            <div ng-repeat=\"x in msg.payload\"> \n                                <md-list-item class=\"md-3-line md-long-text\">\n                                    <img ng-src=\"{{x.img}}\" class=\"md-avatar\" alt=\"\" />\n                                    <div class=\"md-list-item-text\" layout=\"row\" layout-wrap>\n                                        <h3 flex=\"70\" ng-style=\"{color: ($index) % 2 === 0 ? '#BFBFBF ' : '#1482AC'}\">{{x.name}}</h3>\n                                        <p flex=\"30\">{{x.time}}</p>\n                                        <p flex=\"100\">{{x.text}}</p>\n                                    </div>\n                                </md-list-item>\n                                <md-divider></md-divider>\n                            </div>\n                        </md-list>\n                    </div>\n                </md-content>\n            </md-tab>\n            <md-tab label=\"Pagina 2\">\n                <md-content class=\"md-padding\">\n                    <h1 class=\"md-display-2\">Tab Two</h1>\n                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>\n                    <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>\n                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>\n                </md-content>\n            </md-tab>\n            <md-tab label=\"Pagina 3\">\n                <md-content class=\"md-padding\">\n                    <h1 class=\"md-display-2\">Tab Three</h1>\n                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>\n                </md-content>\n            </md-tab>\n        </md-tabs>\n    </div>\n\n</div>\n\n<style>\n    md-tabs .md-tab.md-active {\n        color: #FFFFFF;\n        font-size: 20px;\n    }\n    md-tabs .md-tab {\n        color: #bfbfbf;\n        font-size: 20px;\n    }\n    md-tabs md-ink-bar {\n        background-color: #1482ac;\n        color: #1482ac;\n        height: 4px;\n    }\n    md-list-item .md-avatar {\n        width: 100px;\n        height: 100px;\n    }\n    md-list md-list-item.md-3-line .md-list-item-text h3 {\n        margin-top: 5px;\n        font-size: 35px;\n    }\n    md-list md-list-item.md-3-line .md-list-item-text p {\n        margin-top: 5px;\n        text-align: justify;\n        font-size: 30px;\n        color: #FFFFFF;\n    }\n    md-list-item.md-3-line.md-long-text {\n        padding-top: 10px;\n        padding-bottom: 10px;\n    }\n    md-list-item .md-avatar {\n        margin-right: 25px;\n    }\n    md-divider {\n        border-top-width: 2px;\n        border-color: #7f7f7f;\n    }\n    #content {\n        height: 885px;\n    }\n    #title {\n        height: 70px;\n    }\n    #title span {\n        font-size: 55px;\n        font-family: \"Trebuchet MS\", SansSerif;\n    }\n</style>\n\n\n<script>\n    this.scope.page = \"Conversazione\";\n    this.scope.l1 = this.scope.page[0];\n    var n = this.scope.page.length;\n    this.scope.l = this.scope.page.slice(1, n-1);\n    this.scope.ln = this.scope.page[n-1];\n</script>\n\n","storeOutMessages":true,"fwdInMessages":false,"x":1246.62255859375,"y":1297.5762939453125,"wires":[[]]},{"id":"1541e738.a04d99","type":"ui_template","z":"1629684c.c7d478","group":"4d4f6f10.aee55","name":"Scenario 4","order":0,"width":"0","height":"0","format":"<div layout=\"column\" layout-align=\"start stretch\">\n    <div id=\"title\" layout=\"row\" layout-align=\"center center\">\n        <div flex=\"95\">\n            <span style=\"color: #1482ac;\">{{l1}}</span><span style=\"color: #bfbfbf\">{{l}}</span><span style=\"color: #7f7f7f\">{{ln}}</span>\n        </div>\n        <div flex=\"5\">\n            <div class=\"md-media-sm card-media\">\n                <img src=\"/logo.png\" alt=\"visionet-logo\" height=\"70\" width=\"70\">\n            </div>\n        </div>\n    </div>\n\n    <div>\n        <md-tabs id=\"content\" md-stretch-tabs=\"always\" md-align-tabs=\"top\">\n            <md-tab label=\"Pagina 1\">\n                <md-content layout=\"row\" layout-align=\"start start\" layout-wrap>\n\n                    <div flex=\"25\" ng-repeat=\"x in msg.payload\">\n                        <md-card>\n                            <md-card-title>\n                                <md-card-title-text layout=\"column\" layout-align=\"center start\">\n                                    <span class=\"md-headline\">{{x.day}}</span>\n                                    <span style=\"color:#FFFFFF\" class=\"md-subhead\">{{x.main}}</span>\n                                </md-card-title-text>\n                                <md-card-title-media>\n                                    <img class=\"md-media-md\" ng-src=\"{{x.img}}\" alt=\"tempo\">\n                                </md-card-title-media>\n                            </md-card-title>\n                            <md-card-content style=\"text-align: center\">\n                                <h2>Temp. min:</h2>\n                                <h2>{{x.tempmin}}</h2>\n                                <h2>Temp. max:</h2>\n                                <h2>{{x.tempmax}}</h2>\n                            </md-card-content>\n                        </md-card>\n                    </div>\n\n                </md-content>\n            </md-tab>\n            <md-tab label=\"Pagina 2\">\n                <md-content class=\"md-padding\">\n                    <h1 class=\"md-display-2\">Tab Two</h1>\n                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>\n                    <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>\n                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>\n                </md-content>\n            </md-tab>\n            <md-tab label=\"Pagina 3\">\n                <md-content class=\"md-padding\">\n                    <h1 class=\"md-display-2\">Tab Three</h1>\n                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>\n                </md-content>\n            </md-tab>\n        </md-tabs>\n    </div>\n\n</div>\n\n<style>\n    md-tabs .md-tab.md-active {\n        color: #FFFFFF;\n        font-size: 20px;\n    }\n    md-tabs .md-tab {\n        color: #bfbfbf;\n        font-size: 20px;\n    }\n    md-tabs md-ink-bar {\n        background-color: #1482ac;\n        color: #1482ac;\n        height: 4px;\n    }\n    md-card md-card-title md-card-title-text .md-subhead {\n        font-size: 35px;\n        font-weight: bold;\n        line-height: 30px;\n    }\n    .md-headline {\n        font-size: 40px;\n        font-weight: bold;\n        line-height: 60px;\n        color: #FFFFFF;\n    }\n    md-card-content h2 {\n        color: #FFFFFF;\n        font-size: 35px;\n    }\n    #content {\n        height: 885px;\n    }\n    #title {\n        height: 70px;\n    }\n    #title span {\n        font-size: 55px;\n        font-family: \"Trebuchet MS\", SansSerif;\n    }\n</style>\n\n<script>\n    this.scope.page = \"Meteo\";\n    this.scope.l1 = this.scope.page[0];\n    var n = this.scope.page.length;\n    this.scope.l = this.scope.page.slice(1, n-1);\n    this.scope.ln = this.scope.page[n-1];\n</script>","storeOutMessages":true,"fwdInMessages":false,"x":1255.28564453125,"y":1433.3779907226562,"wires":[[]]},{"id":"a56ad1f.9d2503","type":"inject","z":"1629684c.c7d478","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":645.1564788818359,"y":1236.0441284179688,"wires":[["518e1cfe.6061e4"]]},{"id":"518e1cfe.6061e4","type":"function","z":"1629684c.c7d478","name":"Get chat","func":"var chat = flow.get('chat')||[];\nmsgOut = {};\n\nmsgOut.payload=chat;\n\nreturn msgOut;","outputs":1,"noerr":0,"x":925.4106292724609,"y":1293.7665405273438,"wires":[["e3ce2dbc.9baee"]]},{"id":"d752c5ed.1f5848","type":"link in","z":"1629684c.c7d478","name":"control_ui","links":["952af34f.07368","10a7eba6.32eb14","cdfd4fdd.b8eed8"],"x":1056.999984741211,"y":1259.0665893554688,"wires":[["e3ce2dbc.9baee"]]},{"id":"52f3e46.05dac9c","type":"link in","z":"1629684c.c7d478","name":"control_ui","links":["952af34f.07368","10a7eba6.32eb14","cdfd4fdd.b8eed8"],"x":1057.999984741211,"y":1406.0665893554688,"wires":[["1541e738.a04d99"]]},{"id":"358a326f.54b76e","type":"chatbot-message","z":"1629684c.c7d478","name":"Message","message":[{"message":"{{payload.msgchat}}"}],"answer":false,"track":false,"parse_mode":"","x":1075.1167602539062,"y":2088.5667724609375,"wires":[["3049ce11.dbb50a"]]},{"id":"163f78f0.e94467","type":"function","z":"1629684c.c7d478","name":"Compose message","func":"msg.payload.msgchat = msg.payload.transcription;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":833.1167144775391,"y":2091.0667690700957,"wires":[["358a326f.54b76e","7af2457e.8f379c"]]},{"id":"80b1237.7a77d6","type":"comment","z":"1629684c.c7d478","name":"Telegram interface","info":"","x":95.11668395996094,"y":1896.0665893554688,"wires":[]},{"id":"69026b14.bc31b4","type":"chatbot-telegram-receive","z":"1629684c.c7d478","bot":"d24a140.be485f","x":95,"y":1951.9498291015625,"wires":[["1482b875.9a5de","e664c5e0.6e2808","c9d440ba.ef52c"]]},{"id":"3049ce11.dbb50a","type":"chatbot-telegram-send","z":"1629684c.c7d478","bot":"d24a140.be485f","track":false,"outputs":0,"x":1297.4999389648438,"y":2089.7000732421875,"wires":[]},{"id":"1482b875.9a5de","type":"function","z":"1629684c.c7d478","name":"Get current time","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar min;\nif(dt.getMinutes()<10){\n    min=\"0\"+dt.getMinutes();\n}else{\n    min=dt.getMinutes();\n}\nmsg.payload.time = dt.getDate().toString()+\"/\"+(dt.getMonth() + 1)+\"/\"+dt.getFullYear()+\"  \"+dt.getHours()+\":\"+min;\n\nreturn msg;","outputs":1,"noerr":0,"x":417.78338623046875,"y":1814.144775390625,"wires":[["57a97d14.27de7c"]]},{"id":"57a97d14.27de7c","type":"function","z":"1629684c.c7d478","name":"Compose line in","func":"var chat = flow.get('chat')||[];\nmessaggio = {};\n\nmessaggio.time=msg.payload.time;\nmessaggio.text=msg.payload.content;\nmessaggio.name=\"Marco\";\nmessaggio.img='/nipote.png';\nchat.push(messaggio);\n\nflow.set('chat',chat);\n\nvar msgOut={};\nmsgOut.payload = chat;\n\nmsgUIControl={};\nmsgUIControl.payload = 3;\n\nreturn [msgOut, msgUIControl];","outputs":"2","noerr":0,"x":641.3336791992188,"y":1813.6721801757812,"wires":[["d486f76e.957a4"],[]]},{"id":"7af2457e.8f379c","type":"function","z":"1629684c.c7d478","name":"Get current time","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\nvar dt = new Date(msg.timestamp);\nvar min;\nif(dt.getMinutes()<10){\n    min=\"0\"+dt.getMinutes();\n}else{\n    min=dt.getMinutes();\n}\nmsg.payload.time = dt.getDate().toString()+\"/\"+(dt.getMonth() + 1)+\"/\"+dt.getFullYear()+\"  \"+dt.getHours()+\":\"+min;\n\nreturn msg;","outputs":1,"noerr":0,"x":1093.1390380859375,"y":2015.42236328125,"wires":[["9d6efcdb.570b28"]]},{"id":"9d6efcdb.570b28","type":"function","z":"1629684c.c7d478","name":"Compose line out","func":"var chat = flow.get('chat')||[];\nmessaggio = {};\n\nmessaggio.time=msg.payload.time;\nmessaggio.text=msg.payload.msgchat;\nmessaggio.name=\"Nonna\";\nmessaggio.img='/nonna.png';\n\nchat.push(messaggio);\n\nflow.set('chat',chat);\n\nvar msgOut={};\nmsgOut.payload = chat;\n\nreturn msgOut;","outputs":1,"noerr":0,"x":1286.1455078125,"y":2009.89013671875,"wires":[["4f780a69.9e5fac"]]},{"id":"de922a71.30b8f8","type":"exec","z":"1629684c.c7d478","command":"arecord -d 5 -f cd -t wav -D plughw:1,0 msgout.wav","addpay":true,"append":"","useSpawn":"","timer":"","name":"Audio recording","x":1499.9500732421875,"y":1800.7459716796875,"wires":[["f69a9cac.d936c8"],[],[]]},{"id":"8bec9546.928168","type":"watson-speech-to-text","z":"1629684c.c7d478","name":"Speech to text","continuous":true,"speakerlabels":false,"lang":"en-UK","langhidden":"en-UK","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"7ecBu047bRJ3","x":797.4332733154297,"y":1904.3392333984375,"wires":[["c9d440ba.ef52c","cd04e0e9.7d0978"]]},{"id":"f69a9cac.d936c8","type":"file in","z":"1629684c.c7d478","name":"Read audio file","filename":"/home/pi/msgout.wav","format":"","x":599.2333984375,"y":1902.5559692382812,"wires":[["8bec9546.928168"]]},{"id":"c9d440ba.ef52c","type":"join","z":"1629684c.c7d478","name":"","mode":"custom","build":"merged","property":"","propertyType":"full","key":"topic","joiner":"\\n","timeout":"","count":"2","x":624.5834350585938,"y":2094.1392211914062,"wires":[["163f78f0.e94467"]]},{"id":"b0b1d5d.cd36328","type":"watson-text-to-speech","z":"1629684c.c7d478","name":"","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"3x3HNxgdhOw7","x":657.5093994140625,"y":1756.4556579589844,"wires":[["6ecb609c.1e6b88"]]},{"id":"e664c5e0.6e2808","type":"function","z":"1629684c.c7d478","name":"Get input msg","func":"msg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":419.36669921875,"y":1757.4557495117188,"wires":[["b0b1d5d.cd36328"]]},{"id":"a89d0786.ecf928","type":"watson-tone-analyzer-v3","z":"1629684c.c7d478","name":"","tones":"emotion","sentences":"false","contentType":"false","x":1211.6166229248047,"y":1900.6142578125,"wires":[["b26ce562.b69f"]]},{"id":"b26ce562.b69f","type":"function","z":"1629684c.c7d478","name":"Calculate Emotion","func":"// anger 0\n// disgust 1\n// fear 2\n// joy 3\n// sadness 4\n\nvar score=0;\nvar el_score=msg.response.document_tone.tone_categories[0].tones[0].score;\nfor(var cont=1;cont<5;cont++){\n    if(el_score<msg.response.document_tone.tone_categories[0].tones[cont].score){\n        el_score=msg.response.document_tone.tone_categories[0].tones[cont].score;\n        score=cont;\n    }\n}\nvar umor;\n\n\nvar umorIN=msg.response.document_tone.tone_categories[0].tones[score].tone_id;\nvar happy;\nswitch(umorIN)\n{\n    \n    case \"disgust\": \n    umor =\"E' disgustato\";\n    happy= 0; \n    break;\n        \n    case \"fear\": \n    umor=\"E' impaurito\";\n    happy= 0; \n    break;\n    \n    case \"joy\": \n    umor=\"E' felice\";\n    happy= 1; \n    break;\n    \n    case \"sadness\": \n    umor=\"E'triste\";\n    happy= 0; \n    break;\n    \n    case \"anger\": \n    umor=\"E' arrabbiato\";\n    happy= 0; \n    break;\n}\nflow.set('emotion',happy);\nmsg.payload=happy;\nreturn msg;","outputs":1,"noerr":0,"x":1433.1165008544922,"y":1899.6142578125,"wires":[["43572ee0.21cfc8","4784842f.3e89ec"]]},{"id":"cd04e0e9.7d0978","type":"function","z":"1629684c.c7d478","name":"Get msg text","func":"msg.payload = msg.transcription;\nreturn msg;\n","outputs":1,"noerr":0,"x":1016.9261932373047,"y":1904.1378173828125,"wires":[["a89d0786.ecf928"]]},{"id":"ca1a3bac.a25f18","type":"file","z":"1629684c.c7d478","name":"Write audio file","filename":"/home/pi/msgin.wav","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1136.2826538085938,"y":1758.9358215332031,"wires":[]},{"id":"6ecb609c.1e6b88","type":"function","z":"1629684c.c7d478","name":"Select speech","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":887.7119750976562,"y":1759.9833374023438,"wires":[["ca1a3bac.a25f18","ec3e71b8.f915f"]]},{"id":"8a1a95b2.3fa62","type":"exec","z":"1629684c.c7d478","command":"aplay -c 1 -t wav -r 22050 -f mu_law /home/pi/msgin.wav","addpay":true,"append":"","useSpawn":"","timer":"","name":"Audio play","x":1300.0452880859375,"y":1695.649917602539,"wires":[["b7c52a05.1cb748"],[],[]]},{"id":"ec3e71b8.f915f","type":"delay","z":"1629684c.c7d478","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1125.3309326171875,"y":1698.7928619384766,"wires":[["8a1a95b2.3fa62"]]},{"id":"a8c88db7.3807c","type":"openweathermap","z":"1629684c.c7d478","name":"","wtype":"forecast","lon":"","lat":"","city":"Ancona","country":"Italia","language":"it","x":382.47381591796875,"y":1435.326171875,"wires":[["2d82b9bb.38a2ce"]]},{"id":"913e89c9.ebeb4","type":"inject","z":"1629684c.c7d478","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":152.54527282714844,"y":1434.5761108398438,"wires":[["a8c88db7.3807c"]]},{"id":"2d82b9bb.38a2ce","type":"function","z":"1629684c.c7d478","name":"Compose msg weather","func":"var meteo = context.get('meteo')||[];\n\nif ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\nvar dt = new Date(msg.timestamp);\nvar min;\nif(dt.getMinutes()<10){\n    min=\"0\"+dt.getMinutes();\n}else{\n    min=dt.getMinutes();\n}\n\nfor(var i=0;i<5;i++){\n    meteo[i]={};\n    meteo[i].main=msg.payload[i].weather[0].main;\n    switch(msg.payload[i].weather[0].main)\n    {   \n        case 'Clouds':\n            meteo[i].img='/nuvolesole.png';\n            break;\n        case 'Clear':\n            meteo[i].img='/sole.png';\n            break;  \n        case 'Rain':\n            meteo[i].img='/pioggia.png';\n            break; \n        default:\n            meteo[i].img='/sole.png';\n    }\n    meteo[i].tempmin=msg.payload[i].temp.min.toString();\n    meteo[i].tempmax=msg.payload[i].temp.max.toString();\n    meteo[i].day= (dt.getDate()+i).toString()+\"/\"+(dt.getMonth() + 1)+\"/\"+dt.getFullYear();\n}\n\ncontext.set('meteo',meteo);\n\nvar msgOut={};\nmsgOut.payload = meteo;\n\nreturn msgOut;","outputs":1,"noerr":0,"x":871.5452728271484,"y":1435.957275390625,"wires":[["1541e738.a04d99"]]},{"id":"7fc33048.20d93","type":"link in","z":"1629684c.c7d478","name":"page_4","links":["d4d50f66.2c29f"],"x":195.54527282714844,"y":1370.5761108398438,"wires":[["a8c88db7.3807c"]]},{"id":"77526de2.adb5b4","type":"link in","z":"1629684c.c7d478","name":"page_3","links":["f9b277ab.f6bd68","4f780a69.9e5fac","d486f76e.957a4"],"x":748.1166839599609,"y":1294.4332885742188,"wires":[["518e1cfe.6061e4"]]},{"id":"d486f76e.957a4","type":"link out","z":"1629684c.c7d478","name":"page_3","links":["77526de2.adb5b4"],"x":777.1166839599609,"y":1807.4332885742188,"wires":[]},{"id":"4f780a69.9e5fac","type":"link out","z":"1629684c.c7d478","name":"page_3","links":["77526de2.adb5b4"],"x":1436.116943359375,"y":2008.68359375,"wires":[]},{"id":"43572ee0.21cfc8","type":"link out","z":"1629684c.c7d478","name":"","links":["39cd3931.9f1256"],"x":1603.3445587158203,"y":1902.1835327148438,"wires":[]},{"id":"39cd3931.9f1256","type":"link in","z":"1629684c.c7d478","name":"emotion","links":["43572ee0.21cfc8"],"x":385.01104736328125,"y":811.0999755859375,"wires":[["65251024.51311"]]},{"id":"65251024.51311","type":"function","z":"1629684c.c7d478","name":"Query","func":"var emotion = flow.get('emotion');\n\nmsgOUT={};\n\nswitch(emotion){\n    case 1:\n        msgOUT.q = \"ricette\"; //ricette\n        break;\n    case 0:\n        msgOUT.q = \"musica sanremo 2017\";  //musica\n        break;\n    default:\n        msgOUT.q = \"alvaro soler\";\n}\n\nreturn msgOUT;","outputs":"1","noerr":0,"x":547.4000854492188,"y":778.7664184570312,"wires":[["24303679.2a6162"]]},{"id":"65b3fa40.5bbdf4","type":"exec","z":"1629684c.c7d478","command":"irsend SEND_ONCE TV_REMOTE","addpay":true,"append":"","useSpawn":"","timer":"","name":"send to TV","x":739.3389282226562,"y":58.5,"wires":[[],[],[]]},{"id":"af694854.ad0e2","type":"exec","z":"1629684c.c7d478","command":"irsend SEND_ONCE TV_REMOTE KEY_CYCLEWINDOWS","addpay":false,"append":"","useSpawn":"","timer":"","name":"send to TV","x":748.9221496582031,"y":125.38333892822266,"wires":[["9c5fa818.f9f56"],[],[]]},{"id":"6b05d641.df7db8","type":"exec","z":"1629684c.c7d478","command":"irsend SEND_ONCE TV_REMOTE KEY_SELECT","addpay":false,"append":"","useSpawn":"","timer":"","name":"send to TV","x":1609.9222869873047,"y":129.38330841064453,"wires":[["b4664e15.88aba8"],[],[]]},{"id":"6ac125a0.5424a4","type":"exec","z":"1629684c.c7d478","command":"irsend SEND_ONCE TV_REMOTE KEY_CHANNELDOWN","addpay":false,"append":"","useSpawn":"","timer":"","name":"send to TV","x":1097.9221496582031,"y":123.38331604003906,"wires":[["22dba277.7729f6"],[],[]]},{"id":"9c5fa818.f9f56","type":"delay","z":"1629684c.c7d478","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":928.6221618652344,"y":124.53333282470703,"wires":[["6ac125a0.5424a4"]]},{"id":"22dba277.7729f6","type":"delay","z":"1629684c.c7d478","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1273.6721496582031,"y":126.38330841064453,"wires":[["248d4876.71f4"]]},{"id":"b4664e15.88aba8","type":"function","z":"1629684c.c7d478","name":"","func":"var firstON = flow.get('firstON')||0;\n\nfirstON = 0;\nflow.set('firstON', firstON);\n\nvar emotion = flow.get('emotion')||3;\nemotion = 3;\nflow.set('emotion', emotion);\n\nreturn msg;","outputs":1,"noerr":0,"x":1785.8387908935547,"y":117.29998016357422,"wires":[["cd418f37.212a2"]]},{"id":"cd418f37.212a2","type":"link out","z":"1629684c.c7d478","name":"visionet_cmd","links":["fa67998e.ea79c8"],"x":1894.8387908935547,"y":117.29998016357422,"wires":[]},{"id":"248d4876.71f4","type":"function","z":"1629684c.c7d478","name":"","func":"var count = context.get(\"count\")||1;\n\nif(count <= 5) {\n    msg1={};\n    msg2=null;\n    count = count + 1;\n    context.set(\"count\",count);\n} else {\n    msg1=null;\n    msg2={};\n    count = 1;\n    context.set(\"count\",count);\n}\n\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":1421.2208709716797,"y":125.7166748046875,"wires":[["6ac125a0.5424a4"],["6b05d641.df7db8"]]},{"id":"7277f2a5.eb5c8c","type":"exec","z":"1629684c.c7d478","command":"irsend SEND_ONCE TV_REMOTE KEY_CYCLEWINDOWS","addpay":false,"append":"","useSpawn":"","timer":"","name":"send to TV","x":742.3500671386719,"y":192.4333267211914,"wires":[["434a4939.39a6e8"],[],[]]},{"id":"c024b1d.5c2a2d","type":"exec","z":"1629684c.c7d478","command":"irsend SEND_ONCE TV_REMOTE KEY_SELECT","addpay":false,"append":"","useSpawn":"","timer":"","name":"send to TV","x":1603.3502044677734,"y":196.43329620361328,"wires":[[],[],[]]},{"id":"deafebf7.a59288","type":"exec","z":"1629684c.c7d478","command":"irsend SEND_ONCE TV_REMOTE KEY_CHANNELUP","addpay":false,"append":"","useSpawn":"","timer":"","name":"send to TV","x":1091.3500671386719,"y":190.4333038330078,"wires":[["69b12a26.55d88c"],[],[]]},{"id":"434a4939.39a6e8","type":"delay","z":"1629684c.c7d478","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":922.0500793457031,"y":191.58332061767578,"wires":[["deafebf7.a59288"]]},{"id":"69b12a26.55d88c","type":"delay","z":"1629684c.c7d478","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1267.1000671386719,"y":193.43329620361328,"wires":[["bd3c3268.80b2"]]},{"id":"bd3c3268.80b2","type":"function","z":"1629684c.c7d478","name":"","func":"var count = context.get(\"count\")||1;\n\nif(count <= 5) {\n    msg1={};\n    msg2=null;\n    count = count + 1;\n    context.set(\"count\",count);\n} else {\n    msg1=null;\n    msg2={};\n    count = 1;\n    context.set(\"count\",count);\n}\n\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":1414.6487884521484,"y":192.76666259765625,"wires":[["deafebf7.a59288"],["c024b1d.5c2a2d"]]},{"id":"4784842f.3e89ec","type":"debug","z":"1629684c.c7d478","name":"","active":true,"console":"false","complete":"true","x":1587.3681030273438,"y":1988.1792755126953,"wires":[]},{"id":"b7c52a05.1cb748","type":"delay","z":"1629684c.c7d478","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1482.301513671875,"y":1717.7792358398438,"wires":[["de922a71.30b8f8"]]},{"id":"576a640e.b82164","type":"inject","z":"1629684c.c7d478","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":268.4444580078125,"y":753.7775268554688,"wires":[["65251024.51311"]]},{"id":"8f0a0b92.ece688","type":"IPC-in","z":"1629684c.c7d478","path":"/var/run/lirc/lircd","topic":"data","name":"","x":67,"y":190,"wires":[["95e49102.8c03d"]]},{"id":"24303679.2a6162","type":"YouTube SearchList","z":"1629684c.c7d478","config":"da5c2fd8.7a003","q":"","name":"","x":703.5555419921875,"y":777.8888549804688,"wires":[["2f084bcd.b5c0c4"]]},{"id":"2f084bcd.b5c0c4","type":"function","z":"1629684c.c7d478","name":"Extract Each Video","func":"var totalResults = msg.payload.pageInfo.totalResults;\nvar maxResults = msg.payload.pageInfo.resultsPerPage;\nvar resultsCount = maxResults < totalResults ? maxResults : totalResults;\n\nvar videoArray = flow.get('videoArray')||[];\nvar videoArray = [];\n\nfor ( var x = 0; x < resultsCount; x ++ )\n{\n\tvar videoObj = {\n\t\tvideoId: msg.payload.items[x].id.videoId,\n\t\turl: \"https://www.youtube.com/embed/\" + msg.payload.items[x].id.videoId,\n\t\ttitle: msg.payload.items[x].snippet.title,\n\t};\n\tvideoArray.push( videoObj );\n}\n\nflow.set('videoArray',videoArray);\n\nmsgOUT = {};\nmsgOUT.videos = videoArray;\n\nreturn msgOUT;","outputs":1,"noerr":0,"x":886.5555419921875,"y":777.8888549804688,"wires":[["a7f162cc.ccfb78"]]},{"id":"cdfd4fdd.b8eed8","type":"link out","z":"1629684c.c7d478","name":"control_ui","links":["52f3e46.05dac9c","55c1a4de.59bfc4","79091cd9.b95e1c","d752c5ed.1f5848"],"x":592.6666870117188,"y":397.4444274902344,"wires":[]},{"id":"8038c26.0bc0cc","type":"function","z":"1629684c.c7d478","name":"","func":"\nif (msg.cmd != 99) {\n    msg1 = {};\n    msg2 = null;\n    \n    var videoArray = flow.get('videoArray')||[];\n    //var urlPlay = videoArray[msg.cmd-1].url + \"?autoplay=1\";\n    \n    msg1.payload = {};\n    msg1.payload.tab = 3;\n    msg1.videoId = videoArray[msg.cmd-1].videoId;\n    msg1.title = videoArray[msg.cmd-1].title;\n    \n} else {\n    msg1 = null;\n    msg2 = {};\n\n    msg2.tab = 0;\n}\n\nreturn [msg1, msg2]","outputs":"2","noerr":0,"x":439.44451904296875,"y":666.555419921875,"wires":[["1c0d596a.67364f","607b389c.f9ef4"],["65251024.51311","a7f162cc.ccfb78"]]},{"id":"a7f162cc.ccfb78","type":"join","z":"1629684c.c7d478","name":"","mode":"custom","build":"merged","property":"","propertyType":"full","key":"topic","joiner":"\\n","timeout":"","count":"2","x":1073,"y":775,"wires":[["1c0d596a.67364f"]]},{"id":"607b389c.f9ef4","type":"debug","z":"1629684c.c7d478","name":"debug","active":false,"console":"false","complete":"true","x":794.5555419921875,"y":604.3333129882812,"wires":[]}]